
/* ===== Color Pallete ===== */
:root {
  /* Primary Colors */
  --primary: #4a9546;           
  --primary-variant: #2a4528;   
  
  /* Secondary Colors */
  --secondary: #ffea06;                
  --secondary-variant: #ff8b06; 
  
  /* Neutral Colors */
  --background: #ffffff;        
  --surface: #9e9e9e;           
  
  /* Error */
  --error: #B00020;           
  
  /* Text Colors */
  --on-primary: #FFFFFF;        
  --on-secondary: #000000;      
  --on-background: #000000;     
  --on-surface: #ffffff;        
  --on-error: #FFFFFF;          
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.6;
  background-color: var(--background);
}


header {
  background-color: var(--primary-variant);
  color:var(--on-primary);
  padding: 1rem;
}

#login {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid var(--primary);
  border-radius: 8px;
  color: var(--on-surface);
  background-color: var(--surface);
}


#login input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: black;
  color: white;
}

#login input[type="submit"] {
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  cursor: pointer;
}

#login input[type="submit"]:hover{
  background-color: var(--error);
}

footer {
  background-color: #2d5016;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}