
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.6;
  background-color: #303c2f;
}


header {
  background-color: #2D6C1C;
  color: white;
  padding: 1rem;
}

#login {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #83EB66;
  border-radius: 8px;
  color: white;
}

#login input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: black;
  color: white;
}

#login input[type="submit"] {
  background-color: #559f25;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #2d5016;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}