doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css')
        title #{title} 
        style #{style}
        style.
            #map { height: 400px; width: 100%; }
    body 
        header
        main
            block content 
        footer 
        block scripts