//This is the main template that includes the head information and the header.
//All other content will be loaded into the block sections
doctype html 
html(lang="de")
    head 
        meta(charset="UTF-8")
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css')
        link(rel='stylesheet' href='/css/style.css')
        title Wanderweg
    
        block head 
            
    body 
        header
            a(class='logo' href='/')
                img(
                    class='logo-img'
                    src='/images/Wander-weg-logo.svg'
                    alt='WanderWege Logo'
                )
            nav
                a(class='nav-link' href='/trails') Routen
            .account
                span
                    a(id='status' href='/profile') Account
        main
            block content 

        script(src='/scripts/handleSession.js')
        block scripts