doctype html 
html(lang="de")
    head 
        meta(charset="UTF-8")
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css')
        link(rel='stylesheet' href='/css/style.css')
        title #{title} 
    
        block head 
            
    body 
        header.header
            a.logo(href="/")
                img.logo-img(
                    src="/images/Wander-weg-logo.svg"
                    alt="WanderWege Logo"
                )
            nav.nav
                a.nav-link(href="/trails") Routen
            .account
                span
                    a(id="status" href="/profile") Account
        main
            block content 

        script(src='/scripts/handleSession.js')
        block scripts