doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        link(rel='stylesheet' href='/css/login-register.css')
        title Login 
    body
    
        form
            label(id="label-login") Anmelden
            input(id="username-field" class="form-element" type="text" placeholder='E-Mail oder Username')
            input(id="password-field" class="form-element" type="password" placeholder='Passwort')
            input(id="login-button" class="form-element" type="button" value="Anmelden")
            <a href='/profile/register'>oder hier registrieren</a>
            label(id="message-field" class="form-element") #{message}

        script(type="text/javascript" src="/scripts/login.js")