doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        title Login 
    body 
        form
            label Login 
            input(id="username-field" type="text")
            input(id="password-field" type="text")
            input(id="login-button" type="button" value="Login")
            label(id="message-field") #{message}
        script(type="text/javascript" src="/scripts/login.js")