doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        title Register 
    body 
        form
            label Register Test
            input(id="email-field" type="text")
            input(id="username-field" type="text")
            input(id="password-field" type="text")
            input(id="confirmed-password-field" type="text")
            input(id="register-button" type="submit" value="Register")
            label(id="message-field")
        script(type="text/javascript" src="/scripts/register.js")