mixin trailItem(trail, images)
    tr(class='trail-item')
        td
            div(class='image-container')
                - var stopFlag = false

                each image in images
                    if image.trail_id === trail.id && !stopFlag
                        img(src=`/images/scenery/${image.source}`)
                        - stopFlag = true

        td(class='trail-content')
            h2 
                a(href=`/trails/${trail.id}`) #{trail.name}
            p #{trail.description}